body {
    background-color: black;
}
.header-text {
    font-size: 24px;
    color: forestgreen;
}
.page-text {
    color: cornflowerblue;
    font-size: 16px;
}
#div-text-play {
    width: 500px;
    height: 500px;
    position: relative;
    clear: left;
}
#div-chi-data-name {
    position: absolute;
    width: 200px;
    height: 50px;
}
#div-chi-data-comp {
    position: absolute;
    width: 200px;
    height: 50px;
}
.btn-panel {
    background-color: darkorchid;
    width: 25%;
    float: left;
    border: 1px solid gold;
    padding: 10px 24px;
    font-size: 20px;
    text-align: center;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: gray;
    color: black;
}

/* #btn-get-text {} */
/* #btn-falling-text {} */
/* #btn-dragging-text {} */
/* #btn-hover-text {} */