/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    color: red;
    font-weight: bold;
}

a {
  color: red;
}

/* Notes */
#note-1 {
    position: absolute;
    top: 300px;
    left: 10px;
    width: 25px;
}

#note-2 {
    position: absolute;
    bottom: 300px;
    left: 16px;
    width: 25px;
}

#note-3 {
    position: absolute;
    top: 900px;
    left: 600px;
    width: 500px;
}

#note-4 {
    position: absolute;
    top: 125px;
    right: 16px;
}

#note-5 {
    position: absolute;
    bottom: 250px;
    right: 16px;
    width: 25px;
}
  
  