body {
    background-color: black;
}
.page-text {
    color: cornflowerblue;
}
#divTextPlay {
    width: 500px;
    height: 500px;
    position: relative;
}
#divChiDataName {
    position: absolute;
    width: 200px;
    height: 50px;
}
#divChiDataComp {
    position: absolute;
    width: 200px;
    height: 50px;
}