#description-text {
    font-size: 24px;
}

#map {
    /* configure the size of the map */
    /*width: 75%;*/
    height: 500px;
    margin: 50px;
}


#map-address-listing {
    margin-bottom: 100px;
}

#polaroid-btns-container {
    margin: 100px;
}