a {
    color: black;
    text-decoration: none;
}

h1 {
 font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
    color: gray;
    font-style: italic;
}

p {
    font-size: 16px;
}